.custom-tab-bar .ant-tabs-nav-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
  }

  .custom-tab-bar .ant-tabs-nav {
    padding: 0;
    margin: 0;
  }
  
  .custom-tab-bar .ant-tabs-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 120px;
    height: 48px;
    border-radius: 1000px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 900;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    cursor: pointer;
    color: rgb(0, 0, 0) !important;
  }

  .custom-tab-bar .ant-tabs-tab {
    margin: 0px 0px 0px 10px !important;
  }

  .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: rgb(255, 255, 255) !important;
  }
  
  .custom-tab-bar .ant-tabs-ink-bar {
    background: transparent;
  }


  .custom-tab-bar.tabs-level .ant-tabs-nav-wrap {
    background: rgba(212, 198, 252, 1);
  }
    
  .custom-tab-bar.tabs-level  .ant-tabs-tab-active {
    border: 2px solid white;
    background-color: rgba(165, 135, 254, 1); 
  }

  .custom-tab-bar.tabs-part .ant-tabs-nav-wrap {
    background: rgba(196, 232, 253, 1);
  }
    
  .custom-tab-bar.tabs-part  .ant-tabs-tab-active {
    border: 2px solid white;
    background: rgba(140, 217, 254, 1);
  }